{% extends 'store/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">

<div class="contact-info-page">
  <h2>Contact Us</h2>
  <p>If you have any questions, concerns, or need help, feel free to reach out to us using the details below.</p>

  <div class="contact-details">
    <p><strong>Phone:</strong> +91 93628 43841</p>
    <p><strong>Email:</strong> <a href="mailto:storemoirang@gmail.com">storemoirang@gmail.com</a></p>
    <p><strong>Address:</strong> Okshongbung Leikai, Moirang,<br>Bishnupur District, Manipur - 795133, India</p>
    <p><strong>Support Hours:</strong> Mon - Sat, 10:00 AM – 6:00 PM</p>
  </div>
</div>
{% endblock %}
