<footer class="site-footer">
  <div class="footer-links">
    <div class="footer-left">
      <a href="{% url 'terms' %}">Terms & Policy</a>
      <a href="{% url 'privacy' %}">Privacy Policy</a>
      <a href="{% url 'shipping' %}">Shipping</a>
      <a href="{% url 'cancel' %}">Cancellation & Refund</a>
      <a href="{% url 'support' %}">Customer Support</a>
      <a href="{% url 'review' %}">Leave a review</a>
    </div>
    <br>
    <div class="footer-right">
      <h3>Contacts</h3>
      <p>Address: Moirang, Manipur, India</p>
      <p>Email: <a href="mailto:storemoirang@gmail.com" style="text-decoration: none;">storemoirang@gmail.com</a></p>
      <p>Mobile: +91-9362843841</p>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2025 Store Moirang. All rights reserved.</p>
  </div>
</footer>
